
.trendingAlbums_main {
    height: 21.75%;

    display: flex;
    flex-direction: column;
}

.trendingAlbums_text {
    margin: 0 0 10px 0;
}

.trendingAlbums_coverScroll {
    display: flex;
    height: 80%;
    scrollbar-color: transparent transparent;
    overflow-x: scroll;
    gap: 20px;
}

.trendingAlbums_cover {
    height: 90px;
    border-radius: 6px;
}


