* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBackgroundColor: #17131C;

.main {
    height: 100vh;
    max-width:100%; 
    color:White;
    background-color: $mainBackgroundColor;
    display: flex;
    flex-direction: column;
}
