$mainBackgroundColor: #17131C;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background-color: $mainBackgroundColor;
    min-height: 100vh;
    height: fit-content;
}

.disabled {
    pointer-events: none;
    display: none;
}

.disableScroll {
    overflow-y: hidden;
    pointer-events: none !important;
}

.songPanelWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .songPanelDetailsWrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        color: rgba(255, 255, 255, 0.9);

        .songPanelTitle {
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            margin-top: 18px;
        }

        .songPanelAuthor {
            font-weight: 400;
            font-size: 24px;
            line-height: 33px;
            margin-top: 10px;
        }

        .songPanelYear {
            margin-top: 8px;
            font-weight: 300;
            font-size: 20px;
            line-height: 27px;
        }

        .songPanelListen {
            font-family: 'Ubuntu', sans-serif;
            font-weight: 700;
            font-size: 28px;
            line-height: 32px;
            margin-top: 34px;
        }

        button {
            margin-top: 22px;
        }
    }
}

.albumPanelWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .albumPanelTopWrapper {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 100%;
        height: 380px;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        font-family: 'Open Sans', sans-serif;
        padding-left: 20px;
        padding-bottom: 11px;
        background-size: cover;

        .albumPanelTitle{
            font-weight: 700;
            font-size: 42px;
            line-height: 57px;
            opacity: 0.9;
        }

        .albumPanelAuthor {
            margin-top: 15px;
            font-weight: 400;
            font-size: 22px;
            line-height: 30px;
            opacity: 0.9;
        }
    }

    .albumSongCardDetailsWrapper {
        margin-left: 15px;

        .albumSongCardTitle, .albumSongCardAuthor {
            width: 170px;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            letter-spacing: 0.06rem;
        }

        .albumSongCardAuthor {
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
        }
    }

}

.albumSongCardWrapper {
    display: flex;
    align-items: center;
    height: 45px;
    width: 320px;
    background: rgba(66, 44, 87, 0.2);
    border-radius: 6px;
    margin-top: 15px;

    img {
        width: 45px;
        height: 45px;
    }

    .albumSongCardNumber {
        height: 100%;
        width: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.songImage {
    width: 240px;
    height: 240px;
    border: 2px solid rgba(131, 101, 253, 0.9);
    box-shadow: inset 0 0 4px 2px #000000;
    border-radius: 300px;
    margin-top: 85px;
}

.navbar {
    height: 8%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #231932;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

    .navbar_container {
        display: flex;
        background-color: inherit;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 70px;
        padding: 0;

        button {
            background: inherit;
            color: inherit;
            border: none;
            padding: 0;
            cursor: pointer;
            outline: inherit;
        }
    }
}

.searchbar {
    width: 320px;
    height: 42px;
    background: #383040;
    border-radius: 45px;
    margin: 31px auto 23px;

    .searchbar_container {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 17px;

        form {
            display: flex;
            align-items: center;
        }

        .searchbar_input {
            background-color: inherit;
            outline: none;
            border: none;
            color: rgba(196, 187, 208, 0.6);
        }

        .searchIcon {
            margin-right: 9px;
            opacity: 0.5;
            width: 20px;
            height: 20px;
        }
    }
    .searchTypeWrapper {
        display: flex;
        gap: 10px;
        justify-content: center;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            width: 25%;
            height: 30px;
            background: rgba(81, 57, 111, 0.5);
            text-align: center;
            border-radius: 15px;
            position: relative;

            &.checked {
                background: rgba(81, 57, 111, 0.8);

                span {
                    font-size: 15px;
                }
            }

            span {
                color: rgba(255, 255, 255, 0.9);
                font-family: 'Ubuntu', sans-serif;
                font-style: normal;
                font-size: 14px;
            }

            input {
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 45%;
                top: 15%;
                opacity: 0;
                z-index: 1;
            }
        }
    }
}
.searchPanel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .searchResultsWrapper {
        margin-top: 35px;

        .searchSingleResultWrapper {
            display: flex;
            align-items: center;
            height: 45px;
            width: 320px;
            background: rgba(66, 44, 87, 0.2);
            border-radius: 6px;
            margin-top: 15px;

            .searchSingleDetailsWrapper {
                margin-left: 15px;

                .searchSingleCardTitle, .searchSingleCardAuthor {
                    width: 170px;
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 15px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    letter-spacing: 0.06rem;
                }

                .searchSingleCardAuthor {
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }
    }

}
.main {
    height: 100%;
    max-width:100%; 
    color:White;
    display: flex;
    flex-direction: column;
}

.main_settings {
    width: 40px;
    height: 40px;
}

.genres_main {
    height: 21.75%;

    margin-top: 29px;
    margin-left: 23px;
    display: flex;
    flex-direction: column;
}

.genres_text {
    margin: 0 0 10px 0;
    font-size: 28px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
}

.genres_coverScroll {
    display: flex;
    height: 100%;
    scrollbar-color: transparent transparent;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.genres_cover {
    height: 110px;
    width: 110px;
    border-radius: 6px;
    border: 2px solid rgba(83, 55, 194, 0.4);
}

.genres_coverGradient {
    height: 110px;
    width: 110px;
    margin: auto;
    border-radius: 6px;

    &::after {
        display: block;
        position: relative;
        background-image: linear-gradient(rgba(117, 86, 121, 0.3), rgba(114, 80, 119, 0.3));
        margin-top: -112px;
        margin-left: 1px;
        height: 106px;
        width: 110px;
        content: '';
        border-radius: 6px;
    }
}

.welcomeScreenBtn, .settingsScreenBtn, .songScreenBtn  {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    align-items: center;
    text-align: center;
    color: rgba(253, 253, 253, 0.8);
    letter-spacing: 0.04rem;
}

.songScreenBtn {
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
}

.bigBtn {
    width: 275px;
    height: 60px;
    font-size: 36px;
    line-height: 41px;
    border-radius: 45px;
}

.mediumBtn {
    width: 200px;
    height: 40px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 45px;
}

.smallBtn {
    width: 150px;
    height: 33px;
    font-size: 22px;
    line-height: 25px;
    border-radius: 15px;
}

.signInBtn {
    background: rgba(78, 34, 55, 0.7);
    border: 2.5px solid #733A55;
}

.signUpBtn {
    background: rgba(64, 20, 71, 0.7);
    border: 2.5px solid #784680;
}

.loginBtn {
    background: rgba(32, 134, 148, 0.7);
    border: 2.5px solid #4F9AA5;
}

.resetBtn {
    background: rgba(71, 32, 20, 0.7);
    border: 2.5px solid #805446;
}

.main_headerWrapper {
    display: flex;
    justify-content: space-between;

    .settingsBtn {
        background: transparent;
        border: none;
        width: 40px;
        height: 40px;
        margin-top: 27px;
        margin-left: 20px;
    }

    .profilePicture {
        background: transparent;
        border: none;
        width: 40px;
        height: 40px;
        margin-top: 25px;
        margin-right: 20px;
    }
}

.headerInfo {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    margin-top: 29px;
    margin-left: 20px;
}

.panelHeader {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 25px;
    margin-top: 45px;
}

.libraryPanel {
    .libraryPanelHeaderWrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .settingsBtn {
            margin-right: 25px;
            background-color: inherit;
            border: none;
        }
    }

    .libraryPanelProfileWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 26px;

        span {
            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.06em;
            color: rgba(131, 101, 253, 0.9);
        }

        .vectorLine {
            margin-top: 10px;
            height: 1px;
            width: 200px;
            background: #A2A7D2;
            opacity: 0.8;
            border-radius: 12px;
        }
    }

    .libraryPanelYourPlaylistsWrapper, .libraryPanelRecentlyPlayedWrapper {
        margin-left: 25px;
    }

    .libraryPanelSectionHeader {
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.9);
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .libraryEmptyContent {
        display: flex;
        align-items: center;
        text-align: center;
        height: 45px;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin: 28px auto 121px;
        width: fit-content;
        color: rgba(255, 255, 255, 0.8);
        opacity: 0.8;
    }

    .profilePicture {
        background-color: inherit;
        border: none;
        width: 150px;
        height: 150px;
    }
}



.logoutBtn, .disableAccountBtn, .cancelBtn {
    background: rgba(83, 32, 148, 0.7);
    border: 2.5px solid #894FA5;
}

.disableAccountBtn {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #C62400;
}

.settingsBtn {
    background: rgba(83, 55, 194, 0.3);
    border: 2.5px solid rgba(127, 95, 255, 0.6);
}

.confirmBtn {
    background: rgba(48, 32, 148, 0.7);
    border: 2.5px solid #4F57A5;
}

.disabledBtn {
    background: rgba(196, 187, 208, 0.6);
    border: 2.5px solid rgba(79, 87, 165, 0.6);
}

.spotifyBtn {
    background: #1DB954;
    border: 2.5px solid #6FFFA2;
}

.appleBtn {
    background: #050606;
    border: 2.5px solid #717171;
}

.lyricsBtn {
    color:#000000;
    background: rgba(255, 255, 100, 0.9);
    border: 2.5px solid #FFFFFF;
}

.buttonWithImage {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.svgImage25px {
    width: 25px;
    height: 25px;
}

