* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBackgroundColor: #17131C;

.main {
    height: 100vh;
    max-width:100%; 
    color:White;
    background-color: $mainBackgroundColor;
    display: flex;
    flex-direction: column;
}


.genres_main {
    height: 21.75%;

    display: flex;
    flex-direction: column;
}

.genres_text {
    margin: 0 0 10px 0;
}

.genres_coverScroll {
    display: flex;
    height: 80%;
    scrollbar-color: transparent transparent;
    overflow-x: scroll;
    gap: 20px;
}

.genres_cover {
    height: 90px;
    border-radius: 6px;
}
