* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}
.login_div {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.login_backgroundImage {
    position: absolute;
    margin: 0;
    background-image: url('/img/loginBackground.png');
    filter: blur(10px);
    height: 110vh;
    width: 110vw;
    overflow: hidden;
    z-index: -1;
}

.login_content {
    display: flex;
}