@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
$ubuntu: 'Ubuntu', sans-serif;
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.register_div {
    position: relative; 
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex; 
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: $ubuntu;
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        line-height: 53px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2em;
        margin-bottom: 40px;
        margin-top: 100px;
    }
}
.register_blur{
    width: 100%;
    height: 100%;
}

.register_bottomWrapper {
    margin-top: 90px;
    display: flex;
    flex-direction: column;

    span {
        font-size: 18px;
        line-height: 21px;
        font-family: $ubuntu;
        margin-bottom: 10px;
    }
}

.register_backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-image: url('/public/img/loginBackground.png');
    filter: blur(16px);
    transform: scale(1.1); 
    height: 100%;
    width: 100%;
    z-index:-1;
    background-position: center;
    background-repeat: no-repeat;
}

.register_content {
    display: flex;
}

.register_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
$ubuntu: 'Ubuntu', sans-serif;
$registerInputWidth: 242px;
$registerInputHeight: 46px;
$registerInputTextColor: rgba(165, 165, 165, 1);
$registerInputSize: 24px;
$registerBorderColor: rgba(9, 215, 202, 0.8);

.register_input {
    font-family: $ubuntu;
    color: $registerInputTextColor;
    font-size: $registerInputSize;
    width: $registerInputWidth;
    height: $registerInputHeight;
    background: transparent;
    border: none;
    text-align: center;
    border: none;
    border-bottom: 2px solid $registerBorderColor;
}