@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
$ubuntu: 'Ubuntu', sans-serif;
$loginInputWidth: 242px;
$loginInputHeight: 46px;
$loginInputTextColor: rgba(165, 165, 165, 1);
$loginInputSize: 24px;
$loginBorderColor: rgba(9, 215, 202, 0.8);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.login_bottomWrapper {
    margin-top: 170px;
    display: flex;
    flex-direction: column;

    span {
        font-size: 18px;
        line-height: 21px;
        font-family: $ubuntu;
        margin-bottom: 10px;
    }
}

.login_div {
    position: relative; 
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex; 
    align-items: center;
    flex-direction: column;
    z-index: 1;

    .bigBtn.loginBtn {
        margin-top: 20px;
    }
    
    h1 {
        font-family: $ubuntu;
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        line-height: 53px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2em;
        margin-bottom: 40px;
        margin-top: 100px;
    }

    a {
        margin-top: 10px;
        font-size: 18px;
        line-height: 21px;
        font-family: $ubuntu;
        margin-bottom: 10px;
    }
}

.login_blur{
    width: 100%;
    height: 100%;
}

.login_backgroundImage {
    position: absolute;
    top: 0; 
    left: 0;
    margin: 0;
    background-image: url('/img/loginBackground.png');
    filter: blur(16px);
    transform: scale(1.1); 
    height: 100%; 
    width: 100%;
    z-index: -1; 
    background-position: center;
    background-repeat: no-repeat;
}

.login_content {
    display: flex;
}

.login_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.login_input {
    font-family: $ubuntu;
    color: $loginInputTextColor;
    font-size: $loginInputSize;
    width: $loginInputWidth;
    height: $loginInputHeight;
    background: transparent;
    border: none;
    text-align: center;
    border-bottom: 2px solid $loginBorderColor;
}